/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
package-lock.json
yarn-error.log
/.idea
/nbproject/private/
/nbproject/
*.json
choresnap-83bea-firebase-adminsdk-fbsvc-6a45deb36d.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
